header {
  position: fixed;
  height: 100px;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 100;

  color: white;
  background-color: black;
  border-color: yellow;
  border-style: dashed;
}

header h2 {
  padding: 0;
  margin: 0;
  float: left;
}

header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
}

header li {
  float: left;
  margin: 0;
  padding: 0;
}

/*header h2 {
  left: 200px;
  float: left;
  vertical-align: middle;
}

header li {
  list-style-type: none;
  margin-left: 200px;
  float: right;
  vertical-align: middle;
}*/

section:first-child {
  /*padding-top: 500px;*/
  margin-top: 100px;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  border-style: solid;
  background-image: url(../assets/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section h2 {
  text-align: center;
}

article {
  border-radius: 10px;
  border-style: solid;
  width: 200px;
  display: inline-block;
  height: 200px;
  /*Required for text-overflow*/
  white-space: nowrap;
  overflow: hidden;
}

article h3 {
  text-align: center;
  border-bottom: solid;
  margin-bottom: 0;
  padding-bottom: 18px;
}

article p {
  text-overflow: ellipsis;
}

a[href^="#post"]  {
  text-transform: uppercase;
  text-decoration: none;
  border-style: solid;
  border-radius: 25px;
  padding: 5px 20px 5px 20px;
  color: #000000;
}

section:nth-child(3) {
  /*padding: 40px;*/
  border-style: solid;
}

section:nth-child(3) h2 {
  float: left;
}

section:nth-child(3) p {
  float: left;
}

section:nth-child(3) img {
  float: right;
  width: 50%;
  height: auto;
}

section:last-child {
  clear: both;
  background-image: url(../assets/everybody.jpg);
  border-style: solid;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  border-style: solid;
  padding-top: 10%;
  padding-bottom: 10%;
}

footer h4 {
  left: 200px;
  float: left;
  padding-left: 15%;
  padding-right: 2px;
}

footer li {
  margin-left: 200px;
}
