h1,
h2,
h3 {
  font-family: 'Baloo Bhaina', cursive;
}


header {
  position: fixed;
  height: 100px;
  line-height: 100px;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 100;
  background-color: #454851;
}

header h2 {
  padding-left: 10%;
  padding-right: 45%;
  margin: 0;
  float: left;
}

header h2 a {
  text-decoration: none;
  color: #E6D692;
}

header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
}

header li {
  float: left;
  margin: 0;
  padding: 0;
}

header li a {
  padding-left: 50%;
  text-decoration: none;
  color: #E6D692;
}

main {
  margin-top: 100px;
}

section:first-child {
  text-align: center;
  line-height: 300px;
  height: 300px;
  font-size: xx-large;
  background-image: url(../assets/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section h2 {
  text-align: center;
}

section:nth-of-type(2) {
  padding-left: 5%;
  padding-right: 5%;
}

article {
  border-radius: 10px;
  border-style: solid;
  width: 200px;
  display: inline-block;
  height: 250px;
}

article h3 {
  text-align: center;
  border-bottom: solid;
  margin-bottom: 0;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 18px;
  height: 42px;
}

article p {
  /*Required for text-overflow*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10%
}

a[href^="#post"]  {
  text-transform: uppercase;
  text-decoration: none;
  border-style: solid;
  border-radius: 25px;
  padding: 5px 20px 5px 20px;
  color: #000000;
}

section:nth-child(3) {
  border-style: solid;
}

section:nth-child(3) h2 {
  float: left;
}

section:nth-child(3) p {
  float: left;
}

section:nth-child(3) img {
  float: right;
  width: 50%;
  height: auto;
}

section:last-child {
  clear: both;
  background-image: url(../assets/everybody.jpg);
  /*border-style: solid;*/
  height: 250px;
  line-height: 250px;
  font-size: x-large;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  border-style: solid;
  padding-top: 10%;
  padding-bottom: 10%;
}

footer h4 {
  left: 200px;
  float: left;
  padding-left: 15%;
  padding-right: 2px;
}

footer li {
  margin-left: 200px;
}
